@value grey-vivid, dark from "Stylesheets/colors";

.list {
	composes: wrapper from 'Stylesheets/general';
	display: flex;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	overflow-x: scroll;
}

.wrapper {
	background: grey-vivid;
}

.item {
	margin-right: 1.5em;
}

.item__link {
	composes: condensed-light from "Stylesheets/typography";
	font-size: 1.125em;
	line-height: 1;
	color: dark;
}

.is_active {
	font-weight: bold;
}
