@value red from 'Stylesheets/colors';

.wrapper {
	composes: wrapper from 'Stylesheets/general';
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 2em;
}

.title {
	composes: condensed h3 from "Stylesheets/typography";
}

.error_message {
	composes: small bold sans from 'Stylesheets/typography';
	margin-top: 1rem;
	color: red;
}

.form {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}

.form__actions {
	margin-top: 1em;
	text-align: right;
}
