@value red, blue from 'Stylesheets/colors';

.header {
	background: red;
	padding: 1em;
}

.wrapper {
	composes: wrapper from 'Stylesheets/general';
}

.title {
	color: blue;
	font-family: 'acier-bat-noir';
	font-size: 2em;
}
