@value red, blue from 'Stylesheets/colors';

.header {
	background: red;
	padding-top: 1em;
	padding-bottom: 1em;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

.hidden {
	display: none;
}

.wrapper {
	display: flex;
	align-items: center;
	composes: wrapper from 'Stylesheets/general';
}

.menu {
	color: blue;
	font-size: 1.5em;
	margin-right: 1em;
	cursor: pointer;
	position: relative;
	top: 0.1em;
}

.title {
	color: blue;
	font-family: 'acier-bat-noir';
	font-size: 2em;
}
