@value red, blue from 'Stylesheets/colors';

.header {
	background: red;
	padding: 1em;
}

.wrapper {
	display: flex;
	align-items: center;
	composes: wrapper from 'Stylesheets/general';
}

.menu {
	color: blue;
	font-size: 1.5em;
	margin-right: 1em;
	cursor: pointer;
}

.title {
	color: blue;
	font-family: 'acier-bat-noir';
	font-size: 2em;
}
