<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Webpack Redux Boilerplate</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,400|Open+Sans+Condensed:300,700|Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='/main.css' type='text/css'>
</head>
<body>
	<div id="app">${componentHtml}</div>
	<script src="http://${process.env.HOST}:${process.env.HOT_PORT}/bundle.client.js"></script></body>
</body>
</html>
