@value blue, blue-light, light from 'Stylesheets/colors';

.menu {
	position: absolute;
	z-index: 999;
	top:  0;
	left: 0;
	width: 100%;
	height: 100%;
	background: blue;
	color: light;
	padding: 2em 0;
}

.user {
	composes: wrapper from 'Stylesheets/general';
	composes: sans from 'Stylesheets/typography';
	display: block;
	color: light;
	margin-bottom: 0.5rem;
	font-size: 0.875em;
}

.item {
	composes: sans from 'Stylesheets/typography';
	composes: wrapper from 'Stylesheets/general';
	display: block;
	color: light;
	margin-bottom: 1.5em;
}

.divider {
	border: 0;
	height: 1px;
	width: 100%;
	background: blue-light;
	margin: 0.5em 0 2em 0;
}
