@value light from 'Stylesheets/colors';

.wrapper {
	position: relative;	
}

/* This is a classname as hook for the swiper, do not delete. */
.slide {}

.backButton {
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	color: light;
	z-index: 99;
	font-size: 2em;
}
