@value light from 'Stylesheets/colors';

.wrapper {
	position: relative;
}

.slide {
	width: 100vw;
	float: left;
}

.backButton {
	position: absolute;
	top: 5rem;
	left: 1rem;
	color: light;
	z-index: 99;
	font-size: 2em;
}
